.header {
    position: absolute;
    width: 1690px;
    height: 150px;
    background: #062D37;
}

.header_left {
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
}

.logo {
    position: absolute;
    width: 100px;
    height: 80px;
    font-family: 'Signika SC';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 79px;
    color: #000000;
}

.header_title {
    position: absolute;
    width: 250px;
    margin-left: 120px;
    margin-top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.header_subTitle {
    position: absolute;
    width: 300px;
    margin-left: 120px;
    margin-top: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.header_right {
    position: absolute;
    margin-left: 1150px;
    margin-top: 30px;
}

.header_link1 {
    position: absolute;
    width: 300px;
    margin-left: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    color: #FFFFFF;
}

.header_link2 {
    position: absolute;
    width: 80px;
    margin-left: 385px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 60px;
    color: #FFFFFF;
}